
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333333;
    background: #ffffff;
}

header {
    background: linear-gradient(to bottom, rgb(37, 37, 37)90%, #ffffff 100%);
    color: #fff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

header h1 {
    margin: 0;
    animation: fadeInDown 1s ease-in-out;
    font-family:fantasy;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: hsl(152, 95%, 30%);
}

section {
    padding: 20px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

section:hover {
    transform: translateY(-5px);
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background: #333333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #f0f0f0;
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}

.parallax {
    /* The image used */
    /* background-image: url('path-to-your-image.jpg');

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}